<section class="reportCard">
	<p class="reportGrade animateStamp">{{{grade}}}</p>
	<h2>Report Card</h2>
	<h3 id="passFailDialog">you {{result}}</h3>
	<table class="reportDetailsTable ">
		<tbody>
			<tr>
				<td>
					<span>Score</span>
					{{#if newHi}}
					<p class="highScoreTxt">New High Score!</p>
					{{/if}}
				</td>
				<td>{{score}}</td>
			</tr>
			<tr>
				<td>Accuracy</td>
				<td>{{accuracy}}%</td>
			</tr>
			<tr>
				<td>Highest Streak</td>
				<td>{{streak}}</td>
			</tr>
			<tr>
				<td>
					<span>Coins Earned</span>
					{{#if user.nonePurchased}}
						<p class="coinNoticeTxt">Collect more coins to buy songs from the <a href="/store" class="storeLink">store!</a></p>
					{{/if}}
				</td>
				<td>{{coins}}</td>
			</tr>
			{{#if fail}}
			<tr>
				<td>Passing Score</td>
				<td>{{minScore}}</td>
			</tr>
			<tr>
				<td>Passing Accuracy</td>
				<td>80%</td>
			</tr>
			{{/if}}

		</tbody>
	</table>
	<section>

		<section class="cardNav">
			{{#if fail}}
			<button id='failBtn' class='actionButton' onClick="nextLesson(true)">Try Again</button>
			<button class='actionButton' onClick="window.location.href='http://localhost:3030/lessons';">Return
				Home</button>
			{{else}}
			<button class='actionButton' onClick="nextLesson(true)">Play Again</button>
			{{#if finalRound}}
			<button class='actionButton' autofocus
				onClick="window.location.href='http://localhost:3030/lessons';">Return Home</button>
			{{else}}
			<button id='passBtn' class='actionButton' onClick="nextLesson()" autofocus>Next Level</button>
			{{/if}}
			{{/if}}
		</section>
	</section>