<section class="lesson-container">
    <h2>Level Select</h2>

    <p id="modalInsert"></p>
    <article class="filters">
        <h2 class="lessonHeader filterHeader">Filters</h2>
        <ul class="filter-list">
                <li class="filterSubheader">Lessons</li>
                <ul class="filter-list subFilter">
                    <li onClick="filter('lessons', 'bass')" id="bassLessonFilter" class="lessonFilterBtn">Bass Clef</li>
                    <li onClick="filter('lessons', 'treble')" id="trebleLessonFilter" class="lessonFilterBtn">Treble Clef</li>
                </ul>
                <li class="filterSubheader">Songs</li>
                <ul class="filter-list subFilter">
                    <li onClick="filter('songs', 'bass')" id="bassSongFilter" class="songFilterBtn">Bass Clef</li>
                    <li onClick="filter('songs', 'treble')" id="trebleSongFilter" class="songFilterBtn">Treble Clef</li>
                    <li onClick="filter('songs', 'purchased')" id="purchasedSongFilter" class="songFilterBtn">Purchased</li>
                </ul>
                <li class="filterSubheader filterBtn" onClick="filter('none', 'none')">Clear Filters</li>
        </ul>
    </article>
    <article class="lessons">
        <h3 class="lessonHeader">Lessons</h3>
        <section class="subHeaderGroup">
            <span id='hideLessons' class='hideSpan' onClick="toggleLessons()">Hide</span>
            {{!-- <select class="filterSort">
                <option>Sort By:</option>
                <option>Name A-Z</option>
                <option>Name Z-A</option>
                <option>Difficulty 1-3</option>
                <option>Difficulty 3-1</option>
                <option>Progress Lo-Hi</option>
                <option>Progress Hi-Lo</option>
            </select> --}}
         </section>
            <article class="lessonSection">
                <section onClick="toLink('/treble/newLesson/notes/{{btLevels}}')" class="lessonCard trebleCard">
                    <h3>Treble Clef</h3>
                    <h4>Beginner Notes</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/treble/treble_C1.png" />
                    </div>
                    <h4>Progress: {{btPerc}}%</h4>
                </section>
                <section onClick="toLink('/bass/newLesson/notes/{{bbLevels}}')" class="lessonCard bassCard">
                    <h3>Bass Clef</h3>
                    <h4>Beginner Notes</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/bass/bass_E2.png" />
                    </div>
                    <h4>Progress: {{bbPerc}}%</h4>
                </section>
                <section onClick="toLink('/treble/newLesson/notes/{{atLevels}}', `{{atDisabled}}`)" class="lessonCard trebleCard {{atDisabled}}">
                    <h3>Treble Clef</h3>
                    <h4>Advanced Notes</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/treble/treble_Bb2.png" />
                    </div>
                    <h4>Progress: {{atPerc}}%</h4>
                </section>
                <section onClick="toLink('/bass/newLesson/notes/{{abLevels}}', `{{atDisabled}}`)" class="lessonCard bassCard {{abDisabled}}">
                    <h3>Bass Clef</h3>
                    <h4>Advanced Notes</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/bass/bass_G%232.png" />
                    </div>
                    <h4>Progress: {{abPerc}}%</h4>
                </section>
            </article>
        <h3 class="lessonHeader">Songs</h3>
        <section class="subHeaderGroup">
            <span id='hideSongs' class='hideSpan' onClick="toggleSongs()">Hide</span>
            {{!-- <select class="filterSort">
                <option>Sort By:</option>
                <option>Name A-Z</option>
                <option>Name Z-A</option>
                <option>Difficulty 1-3</option>
                <option>Difficulty 3-1</option>
                <option>Progress Lo-Hi</option>
                <option>Progress Hi-Lo</option>
            </select> --}}
         </section>
         <article class="lessonSection">
                <section onClick="toLink('/treble/newLesson/songs/{{tSongs}}', `{{atDisabled}}`)" class="songCard trebleCard {{atDisabled}}">
                    <h3>Treble Clef</h3>
                    <h4>Beginner Songs</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/treble/treble_B2.png" />
                    </div>
                    <h4>Progress: {{tsPerc}}%</h4>
                </section>
                <section onClick="toLink('/bass/newLesson/songs/{{bSongs}}', `{{abDisabled}}`)" class="songCard bassCard {{abDisabled}}">
                    <h3>Bass Clef</h3>
                    <h4>Beginner Songs</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/bass/bass_C2.png" />
                    </div>
                    <h4>Progress: {{bsPerc}}%</h4>
                </section>
                {{!-- <section class="songCard trebleCard">
                    <h3>Treble Clef</h3>
                    <h4>Advanced Songs</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/treble/treble_D%232.png" />
                    </div>
                    <h4>Progress: 0%</h4>
                </section>
                <section class="songCard bassCard">
                    <h3>Bass Clef</h3>
                    <h4>Advanced Songs</h4>
                    <div class="imgContainer">
                        <img src="/public/assets/images/bass/bass_Bb1.png" />
                    </div>
                    <h4>Progress: 0%</h4>
                </section> --}}
                {{#each purchasedSongs}}
                    <section onClick="toLink(`allSongs/begin/{{id}}?{{clef}}`)" class="songCard purchasedCard {{clef}}Card">
                    <h3 title="{{name}}">{{name}}</h3>
                    <h4>Level: {{level}}</h4>
                    <div class="imgContainer">
                        <img src={{image}} />
                    </div>
                    <h4>High Score: {{hiScore}}</h4>
                </section>
                {{/each}}
            </article>
    </article>
</section>