<section class="lesson-container">
    <h2>Level Select</h2>

    <p id="modalInsert"></p>
    <article class="filters">
        <h2 class="lessonHeader filterHeader">Filters</h2>
        <ul class="filter-list">
            <li class="filterSubheader">Lessons</li>
            <ul class="filter-list subFilter">
                <li onClick="filter('lessons', 'bass')" id="bassLessonFilter" class="lessonFilterBtn">Bass Clef</li>
                <li onClick="filter('lessons', 'treble')" id="trebleLessonFilter" class="lessonFilterBtn">Treble Clef
                </li>
                <li onClick="filter('lessons', 'theory')" id="theoryLessonFilter" class="lessonFilterBtn">Theory</li>
                <li onClick="filter('lessons', 'notes')" id="noteLessonFilter" class="lessonFilterBtn">Notes</li>
                <li onClick="filter('lessons', 'beginner')" id="beginnerLessonFilter" class="lessonFilterBtn">Beginner</li>
                <li onClick="filter('lessons', 'advanced')" id="advancedLessonFilter" class="lessonFilterBtn">Advanced</li>
                <li onClick="filter('lessons', 'unlocked')" id="unlockedLessonFilter" class="lessonFilterBtn">Unlocked</li>
            </ul>
            <li class="filterSubheader">Songs</li>
            <ul class="filter-list subFilter">
                <li onClick="filter('songs', 'bass')" id="bassSongFilter" class="songFilterBtn">Bass Clef</li>
                <li onClick="filter('songs', 'treble')" id="trebleSongFilter" class="songFilterBtn">Treble Clef</li>
                <li onClick="filter('songs', 'purchased')" id="purchasedSongFilter" class="songFilterBtn">Purchased</li>
            </ul>
            <li class="filterSubheader filterBtn" onClick="filter('none', 'none')">Clear Filters</li>
        </ul>
    </article>
    <article class="lessons">
        <h3 class="lessonHeader">Lessons</h3>
        <section class="subHeaderGroup">
            <span id='hideLessons' class='hideSpan' onClick="toggleLessons()">Hide</span>
            {{!-- <select class="filterSort">
                <option>Sort By:</option>
                <option>Name A-Z</option>
                <option>Name Z-A</option>
                <option>Difficulty 1-3</option>
                <option>Difficulty 3-1</option>
                <option>Progress Lo-Hi</option>
                <option>Progress Hi-Lo</option>
            </select> --}}
        </section>
        <article class="lessonSection">
            <section tabindex="0" onClick="toLink('/treble/newLesson/notes/{{btLevels}}')" 
            class="lessonCard noteCard beginnerCard trebleCard">
                <h3>Treble Clef</h3>
                <h4>Beginner Notes</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_C1.png" />
                </div>
                <h4>Progress: {{btPerc}}%</h4>
            </section>
            <section tabindex="0" onClick="toLink('/treble/newLesson/notes/12', `{{atDisabled}}`)"
                class="lessonCard trebleCard beginnerCard noteCard {{atDisabled}}">
                <h3>Treble Clef</h3>
                <h4>Beginner Notes - All</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_D2.png" />
                </div>
                <h4>High Score: {{btHigh}}</h4>
            </section>
            <section tabindex="0" onClick="toLink('/bass/newLesson/notes/{{bbLevels}}')" 
                class="lessonCard noteCard beginnerCard bassCard">
                <h3>Bass Clef</h3>
                <h4>Beginner Notes</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_E2.png" />
                </div>
                <h4>Progress: {{bbPerc}}%</h4>
            </section>
            <section tabindex="0" onClick="toLink('/bass/newLesson/notes/12', `{{abDisabled}}`)"
                class="lessonCard bassCard beginnerCard noteCard {{abDisabled}}">
                <h3>Bass Clef</h3>
                <h4>Beginner Notes - All</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_G1.png" />
                </div>
                <h4>High Score: {{bbHigh}}</h4>
            </section>
            <section tabindex="0" onClick="toLink('/treble/newLesson/notes/{{atLevels}}', `{{atDisabled}}`)"
                class="lessonCard trebleCard advancedCard noteCard {{atDisabled}}">
                <h3>Treble Clef</h3>
                <h4>Advanced Notes</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_Bb2.png" />
                </div>
                <h4>Progress: {{atPerc}}%</h4>
            </section>
            <section tabindex="0"
                onClick="toLink('/treble/newLesson/notes/38', `{{tFreeplayDisabled}}`, 'Finish Advanced Treble Notes to unlock!')"
                class="lessonCard trebleCard advancedCard noteCard {{tFreeplayDisabled}}">
                <h3>Treble Clef</h3>
                <h4>Advanced Notes - All</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_Eb2.png" />
                </div>
                <h4>High Score: {{atHigh}}</h4>
            </section>
            <section tabindex="0" onClick="toLink('/bass/newLesson/notes/{{abLevels}}', `{{abDisabled}}`)"
                class="lessonCard bassCard advancedCard noteCard {{abDisabled}}">
                <h3>Bass Clef</h3>
                <h4>Advanced Notes</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_G%232.png" />
                </div>
                <h4>Progress: {{abPerc}}%</h4>
            </section>
            <section
                tabindex="0" onClick="toLink('/bass/newLesson/notes/38', `{{bFreeplayDisabled}}`, 'Finish Advanced Bass Notes to unlock!')"
                class="lessonCard bassCard advancedCard noteCard {{bFreeplayDisabled}}">
                <h3>Bass Clef</h3>
                <h4>Advanced Notes - All</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_F%231.png" />
                </div>
                <h4>High Score: {{abHigh}}</h4>
            </section>
            <section tabindex="0" onClick="toLink('/treble/newLesson/theory/{{btTheory}}', `{{atDisabled}}`)"
                class="lessonCard trebleCard beginnerCard theoryCard {{atDisabled}}">
                <h3>Treble Clef</h3>
                <h4>Basic Theory</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_C%232.png" />
                </div>
                <h4>Progress: {{btTheoryPerc}}%</h4>
            </section>
            <section tabindex="0" onClick="toLink('/bass/newLesson/theory/{{bbTheory}}', `{{abDisabled}}`)"
                class="lessonCard bassCard beginnerCard theoryCard {{abDisabled}}">
                <h3>Bass Clef</h3>
                <h4>Basic Theory</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_D2.png" />
                </div>
                <h4>Progress: {{bbTheoryPerc}}%</h4>
            </section>
        </article>
        <h3 class="lessonHeader">Songs</h3>
        <section class="subHeaderGroup">
            <span id='hideSongs' class='hideSpan' onClick="toggleSongs()">Hide</span>
            {{!-- <select class="filterSort">
                <option>Sort By:</option>
                <option>Name A-Z</option>
                <option>Name Z-A</option>
                <option>Difficulty 1-3</option>
                <option>Difficulty 3-1</option>
                <option>Progress Lo-Hi</option>
                <option>Progress Hi-Lo</option>
            </select> --}}
        </section>
        <article class="lessonSection">
            <section tabindex="0" onClick="toLink('/treble/newLesson/songs/{{tSongs}}', `{{atDisabled}}`)"
                class="songCard trebleCard {{atDisabled}}">
                <h3>Treble Clef</h3>
                <h4>Beginner Songs</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_B2.png" />
                </div>
                <h4>Progress: {{tsPerc}}%</h4>
            </section>
            <section tabindex="0" onClick="toLink('/bass/newLesson/songs/{{bSongs}}', `{{abDisabled}}`)"
                class="songCard bassCard {{abDisabled}}">
                <h3>Bass Clef</h3>
                <h4>Beginner Songs</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_C2.png" />
                </div>
                <h4>Progress: {{bsPerc}}%</h4>
            </section>
            {{!-- <section class="songCard trebleCard">
                <h3>Treble Clef</h3>
                <h4>Advanced Songs</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/treble/treble_D%232.png" />
                </div>
                <h4>Progress: 0%</h4>
            </section>
            <section class="songCard bassCard">
                <h3>Bass Clef</h3>
                <h4>Advanced Songs</h4>
                <div class="imgContainer">
                    <img src="/public/assets/images/bass/bass_Bb1.png" />
                </div>
                <h4>Progress: 0%</h4>
            </section> --}}
            {{#each purchasedSongs}}
            <section tabindex="0" onClick="toLink(`allSongs/begin/{{id}}?{{clef}}`)" class="songCard purchasedCard {{clef}}Card">
                <h3 title="{{name}}">{{name}}</h3>
                <h4>Level: {{level}}</h4>
                <div class="imgContainer">
                    <img src={{image}} />
                </div>
                <h4>High Score: {{hiScore}}</h4>
            </section>
            {{/each}}
            <p class="centeredP">Collect coins to buy songs from the <a class="storeLink" href="/store">store!</a></p>
        </article>
    </article>
</section>