<h2>You are learning about {{name}}</h2>
<article>
    <h2>{{subtitle}}</h2>
    <p>{{details}}</p>
</article>
<button id='nextLevelBtn' class="actionButton" onClick="nextLevel({{level}})">Begin level {{level}}</button>