<section class="lessonBody">
    <p id="qTracker">Question: {{i}}/{{numQs}}</p>
    <img id='qImg' src={{img}} />
    <section class="buttonGroup">
        {{#each noteNames}}
            <button id={{note}} type='button' onClick={{func}}>{{note}}</button>
        {{/each}}
    </section>

</section>
