<section class="lessonBody">
    <section class="countNumberSection">
        <div class="countNumber" id="countNumber3">3</div>
        <div class="countNumber" id="countNumber2">2</div>
        <div class="countNumber" id="countNumber1">1</div>
        <div class="countNumber" id="countNumberGo">Go!</div>
    </section>
    <section class="blurBackground">

    </section>
    <p id="qTracker">Question: {{i}}/{{numQs}}</p>
    <progress id="qTrackerProgressBar" value={{i}} max={{numQs}}> 32% </progress>
    <section class="scoreSection">
        <div id="timer">0s</div>
        <div id="currentScore">Total: 0</div>
        <div id="streak">Streak: 0</div>
    </section>


    <img id='qImg' src={{img}} />
    <section class="buttonGroup">
        {{#each noteNames}}
            <button id={{note}} type='button' onClick={{func}}>{{note}}</button>
        {{/each}}
    </section>
</section>
<button onClick="restart()">Restart</button>
