<section class="store">
    <h2>Music Store</h2>
    <h3>Treble Clef Songs</h3>
    <p id="modalInsert"></p>
    <section class="storeBody">
        {{#each trebleSongs}}
            {{#if canAfford}}
                <section class="storeCard">
                {{else}}
                    <section class="storeCard disabledCard">
            {{/if}}
                <a class="cardLink" href="javascript:purchaseSong(`{{name}}`, {{price}}, {{canAfford}}, {{coins}})"></a>
                <img src="{{image}}" alt="{{name}} image" class="cardImage"/>
                <p class="cardName">{{name}}</p>
                <p class="cardPrice">{{price}}</p>
            </section>
        {{/each}}
    </section>


    <h3>Bass Clef Songs</h3>
    <section class="storeBody">
        {{#each bassSongs}}
            {{#if canAfford}}
                <section class="storeCard">
                {{else}}
                    <section class="storeCard .disabledCard">
            {{/if}}
                <a class="cardLink" href="javascript:purchaseSong(`{{name}}`, {{price}}, {{canAfford}}, {{coins}})"></a>
                <img src="{{image}}" alt="{{name}} image" class="cardImage"/>
                <p class="cardName">{{name}}</p>
                <p class="cardPrice">{{price}}</p>
            </section>
        {{/each}}
    </section>
</section>