<h2>Treble Clef Songs</h2>
<section class="storeBody">
    {{#each trebleSongs}}
        <section class="storeCard">
            <img src="{{picture}}" alt="{{name}} image" class="cardImage"/>
            <p class="cardName">{{name}}</p>
            <p class="cardPrice">{{price}}</p>
        </section>
    {{/each}}

    <h2>Bass Clef Songs</h2>
    {{#each bassSongs}}
        <section class="storeCard">
            <img src="{{picture}}" alt="{{name}} image" class="cardImage"/>
            <p class="cardName">{{name}}</p>
            <p class="cardPrice">{{price}}</p>
        </section>
    {{/each}}
</section>
