<section class="store">
    <h2>Music Store</h2>
    <h3>Treble Clef Songs</h3>
    <p id="modalInsert"></p>
    <section class="storeBody">
        {{#each trebleSongs}}
            {{#if canAfford}}
                {{#if ownsSong}}
                    <section class="storeCard disabledCard">
                {{else}}
                    <section class="storeCard">
                {{/if}}
            {{else}}
                <section class="storeCard disabledCard">
            {{/if}}
                <a class="cardLink" href="javascript:purchaseSong(`{{name}}`, `{{id}}`, {{price}}, {{canAfford}}, {{ownsSong}}, {{../coins}}, `{{clef}}`)"></a>
                <img src="{{image}}" alt="{{name}} image" class="cardImage"/>
                <p class="cardName">{{name}}</p>
                {{#if ownsSong}}
                    <p class="cardPrice">Owned</p>
                {{else}}
                    <p class="cardPrice">{{price}}</p>
                {{/if}}
            </section>
        {{/each}}
    </section>


    <h3>Bass Clef Songs</h3>
    <section class="storeBody">
        {{#each bassSongs}}
            {{#if canAfford}}
                {{#if ownsSong}}
                    <section class="storeCard disabledCard">
                {{else}}
                    <section class="storeCard">
                {{/if}}
            {{else}}
                <section class="storeCard disabledCard">
            {{/if}}
                <a class="cardLink" href="javascript:purchaseSong(`{{name}}`, `{{id}}`, {{price}}, {{canAfford}}, {{ownsSong}}, {{../coins}}, `{{clef}}`)"></a>
                <img src="{{image}}" alt="{{name}} image" class="cardImage"/>
                <p class="cardName">{{name}}</p>
                 {{#if ownsSong}}
                    <p class="cardPrice">Owned</p>
                {{else}}
                    <p class="cardPrice">{{price}}</p>
                {{/if}}
            </section>
        {{/each}}
    </section>
</section>