<section class="viewAccount">
    <h2>Welcome, {{username}}!</h1>
    <div>
        {{#if lessonsCompleted}}
        <h3>Here's a snapshot of the lessons and songs you've completed</h3>
        <div class="scrollingTable">
            <table class="lessonList">
                <tr class="tableHeader">
                    <td class="levelName">Level Name</td>
                    <td>Level Difficulty</td>
                    <td>High Score</td>
                </tr>
                {{#each lessonsCompleted}}
                <tr onClick="toLink(`{{link}}`)">
                    <td class="levelName">{{name}}</td>
                    <td>{{level}}</td>
                    <td>{{hiscore}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <form class='index-form' action='/lessons' method='GET'>
            <button class="startLearn">Keep Learning!</button>
        </form>
        {{else}}
        <p>No Lessons Completed</p>
        <form class='index-form' action='/treble' method='GET'>
            <button class="startLearn">Start Learning Today!</button>
        </form>
        {{/if}}

    </div>
    <a href="/account/logout" class="littleLink">Logout</a>
</section>